.body {
 background: gray;
 color: white;
}

#navbar {
    color: thistle;
    font-size: 17px;
    display: flex;
    justify-content: space-evenly
}

.name {
    font-size: 30px;
    color: darkkhaki;
    display: flex;
}

.name span {
    color: silver;
    font-size: 35px;
    margin-left: 20px;
}

#content {
    display: flex;
    border: 2px solid gray;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    align-items: center;
    margin-left: 300px;
}
